@using BakerTask.Models
@model List<Product>
@{
    ViewData["Title"] = "Product";
}

<div class="create">
    <a asp-controller="Product" asp-action="Create" class="btn btn-success" style="width:100px;height:40px;margin:40px">
        Create
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Rating</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td><img src="~/assets/images/@item.Images.Where(i => i.IsMain).FirstOrDefault().Image" style="width:70px;height:60px;border-radius:6px;background-color:white"/></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Rating</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success" style="margin-bottom:3px">edit</a>
                    <a asp-action="Delete"  asp-route-id="@item.Id"  class="btn btn-outline-danger">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
